/*.App {
  display: flex;
  flex-direction: column;
}*/

.Sample {
  display: flex;
  flex-wrap: wrap;
}

.slider-wrapper {
  height: 100px;
  width: 22px;
}
 
.slider {
  width: 100px;
  height: 22px;
  transform: rotate(90deg);
  transform-origin: 11px 11px;
  margin: 0;
}